<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="IdHackDBConnectionString" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=IdHackDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IdHackDBConnectionString2" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=IdHackDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IdHackDBConnectionString3" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=IdHackDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IdHackDBConnectionString4" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=IdHackDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IdHackDBConnectionString5" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=IdHackDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IdHackDBConnectionString6" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=IdHackDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminLoginId" value="admin"/>
    <add key="AdminPassword" value="123"/>
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"> </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
    
  </system.web>


</configuration>
