@charset "utf-8";
/* CSS Document */

body
{
	height: 400px;
	background-color: rgba(250,250,250,1.00);
}
#firstimg {
	width: 350px;
	height: 620px;
	margin-left: 300px;
	margin-top: 30px;
	
}
#content {
	width: 365px;
	height: 357px;
	background-color: #FFFFFF;
	margin-top: -615px;
	margin-left: 675px;
	border: thin solid rgba(184,184,184,0.43);
}
#secondcontent {
	width: 365px;
	height: 57px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 675px;
	border: thin solid rgba(184,184,184,0.43);
}
#secondcontent #createaccount {
	margin-top: 18px;
	text-align: center;
	color: #353434;


}
#getapp {
	width: 110px;
	margin-left: 815px;
	font-size: 19px;
	font-family: Calibri (Body);
	font-style: normal;
	font-weight: 400;
	margin-top: 30px;
}
#thirdcontent {
	width: 384px;
	height: 92px;
	margin-top: 10px;
	margin-left: 675px;
	
}
#thirdcontent #firstimg {
	width: 175px;
	height: 40px;
	margin-left: 0px;
	margin-top: 0px;
}
#thirdcontent #secondimg {
	width: 199px;
	height: 60px;
	margin-left: 1px;
	padding-top: 5px;
	margin-bottom: -10px;
}




#secondcontent #createaccount a {
	text-decoration: none;
	color: #1FA1F5;
	font-weight: bold;
}



#content #instatext {
	background-color: none;
	width: 343px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: auto;
}
#content #instatext p {
	text-align: center;
	margin-top: 0px;
	padding-top: 7px;
	font-size: 35px;
	font-family: Lucida Handwriting;
	font-style: normal;
	font-weight: bold;

}
#content #emailid {
	background-color: rgba(250,250,250,1.00);
	border: thin solid rgba(184,184,184,0.43);
	width: 290px;
	text-align: justify;
	margin-left: 38px;
	height: 30px;
	margin-top: 50px;
	text-indent: 8px;
	border-radius: 3px/3px;
}
#content #passwordtxt {
	background-color: rgba(250,250,250,1.00);
	border: thin solid rgba(184,184,184,0.43);
	width: 290px;
	text-align: justify;
	margin-left: 38px;
	height: 30px;
	margin-top: 5px;
	border-radius: 3px/3px;
	text-indent: 8px;
}
#content #loginbtn {
	background-color: background-color: rgba(250,250,250,1.00);;
	border: thin solid rgba(184,184,184,0.43);
	width: 295px;
	text-align: center;
	margin-left: 38px;
	height: 30px;
	margin-top: 15px;
	text-indent: 8px;
	background-color: #b2dffc;
	color: rgba(255,255,255,1.00);
	border-radius: 3px/3px;
	font-weight: bold;
}
#content #loginbtn:hover
{
	background-color:#78C6F9;
	
	}
#content #firsthr {
	width: 115px;
	margin-left: 38px;
	margin-top: 15px;
	border: thin solid rgba(184,184,184,0.43);
}
#content #or {
	margin-left: 175px;
	margin-top: -18px;
	color: rgba(204,200,200,1.00);
}
#content #secondhr {
	width: 115px;
	margin-top: -28px;
	margin-left: 215px;
	border: thin solid rgba(184,184,184,0.43);
}
#content #facebooklogiimg img {
	width: 20px;
	height: 20px;
	margin-left: 100px;
	margin-top: 20px;
}
#content #Login p {
	width: 150px;
	margin-left: 130px;
	margin-top: -22px;
	color: #3b5998;
	font-weight: bold;
	font-size: 12px;
	font-family: Tahoma;
}
#Login p a {
	text-decoration: none;
	color: #3B5998;
}
#content #forgotpassword {
	width: 189px;
	margin-left: 100px;
	text-align: center;
	font-size: 13px;
}
#content #forgotpassword a {
	text-decoration: none;
	color: #383993;
}
