body 
{
    text-align: left;
	background-color: rgba(244,238,238,0.89);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 15%;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
}
